html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f103d;
}

.container {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

.column {
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

/* Flex properties to adjust column sizes */
.column:nth-child(1) {
    background-color: #1f103d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.column:nth-child(2) {
    background-color: #1f103d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;  /* This column is twice as large as the others */
}

.column:nth-child(3) {
    background-color: #1f103d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 11/16;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 160px;
    word-break: break-word;
}

.card.blue {
    background-color: blue;
    color: white;
}

.card.gray {
    background-color: gray;
    color: black;
}

.card.black {
    background-color: black;
    color: white;
}

.card.hidden {
    background-color: #fff;
    color: black;
}

.card.blue.revealed {
    background-color: blue;
    color: white;
}

.card.gray.revealed {
    background-color: gray;
    color: black;
}

.card.black.revealed {
    background-color: black;
    color: white;
}

.hint-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.hint-container input {
    margin-bottom: 10px;
    flex: 1; /* Le champ de saisie prendra tout l'espace disponible */
    padding: 8px; /* Ajuster la taille de la marge au besoin */
    box-sizing: border-box;
    font-size: 1.5em; /* Ajuster la taille de la police au besoin */
}

.hint-container button {
    font-size: 1.5em; /* Ajuster la taille au besoin */
    padding: 8px 15px; /* Ajuster la taille du bouton au besoin */
    box-sizing: border-box;
    cursor: pointer;
    align-self: flex-end; /* Aligner le bouton en bas du conteneur */
    max-width: 150px; /* Définir une largeur maximale pour le bouton */
}

.players-container {
    border: 2px dashed rgba(255, 255, 255, 0.5); /* Pointillé blanc avec une légère transparence */
    padding: 10px; /* Facultatif : ajout de marge intérieure pour l'espace entre le texte et la bordure */
}

/* Styles for titles, labels, and paragraphs */
h2 {
    font-size: 2em;  /* Adjust the size as needed */
}

p {
    font-size: 1.5em;  /* Adjust the size as needed */
}

label {
    font-size: 1.5em;
}

.round-info,
.hint-info,
.score-info {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.hint-n-container {
    display: flex;
    align-items: center;
}

.hint-n-container label {
    margin-right: 5px; /* Adjust margin as needed */
}